<!DOCTYPE html>
<html lang="ee">
<head>
    <meta charset="UTF-8">

    <title>Consulta</title>
</head>
<body>
    <table>
        <thead>
            <th>ID persona</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Operaciones</th>
        </thead>
        <tbody>
            {% for fila in registro %}
            <tr>
                <td>{{fila.idPersona}}</td>
                <td>{{fila.nombre}}</td>
                <td>{{fila.edad}}</td>
                <td>
                    <form action="editar" method="POST">
                        {% csrf_token %}
                        <input name="idPersona" value="{{fila.idPersona}}" type="hidden">
                        <button>Editar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</body>
</html>