<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta Visita</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/estiloCVisitas.css' %}">

    <script>
        function eliminar(id,nom){
            var res = confirm('Confirma eliminar a '+nom+' con el ID '+id);
            if(res){
                var formulario = document.getElementById(id);
                formulario.submit();
            }
        }
    </script>


</head>
<body>
        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 200%; color: crimson">
                CONSULTA DE VISITAS
        </p>
        <table id="tablaVisita">
                <thead>
                    <th>ID Visita</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th colspan="2">Operaciones</th>
                </thead>
                <tbody>
                    {% for fila in registro %}
                    <tr>
                        <td>{{fila.idVisita}}</td>
                        <td>{{fila.nombre}}</td>
                        <td>{{fila.fecha}}</td>
                        <td>{{fila.telefono}}</td>
                        <td>{{fila.direccion}}</td>
                        <td>
                            <form action="editarV" method="POST">
                                {% csrf_token %}
                                <input name="idVisita" value="{{fila.idVisita}}" type="hidden">
                                <button class="editar">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form id="{{fila.idVisita}}" action="elimi" method="POST">
                                {% csrf_token %}
                                <input name="idVisita" value="{{fila.idVisita}}" type="hidden">
                                <button type="button" onclick="eliminar('{{fila.idVisita}}','{{fila.nombre}}')" class="eliminar">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
        
                </tfoot>
            </table>
        <form action="regVisita" method="POST">
                {% csrf_token %}
            <button id="re">Regresar</button>
        </form>
</body>
</html>