{% extends 'maestra.html' %}

{% block titulo %} Pagina esclava {%endblock %}

{% block contenido %}
    <h2 style="color: red"> Usando pagina maestra</h2>

    <form action="sumar" method="POST">
        {% csrf_token %}
        <label>Numero 1:</label>
        <input type="text" name="num1" value="{{num1}}" required pattern="[0-9]*$">
        <br>
        <label>Numero 2:</label>
        <input type="text" name="num2" value="{{num2}}" required pattern="[0-9]*$">
        <br>
        <button>Sumar</button>
    </form>

    {% if suma %}
        <b>El resultado es: {{suma}}</b>
    {% endif %}

{% endblock %}