<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lector</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/estilolec.css' %}">
</head>
<body>
    <form action="guardarlector" method="POST">
            {% csrf_token %}
        <label for="Nombre">Nombre:</label>
        <input type="text" name="Nombre" maxlength="60" required>
        <br>
        <label for="Edad">Edad:</label>
        <input type="text" name="Edad" maxlength="11" required>
        <br>
        <label for="Domicilio">Domicilio:</label>
        <input type="text" name="Domicilio" maxlength="100" required>
        <br>
        <label for="Cp">Cp:</label>
        <input type="text" name="Cp" maxlength="5" required>
        <br>
        <label for="Telefono">Teléfono:</label>
        <input type="text" name="Telefono" maxlength="12">
        <br>
        <label for="Ocupacion">Ocupación:</label>
        <input type="text" name="Ocupacion" maxlength="50" required>
        <br>
        <label for="Esc_o_trab">Escuela o Trabajo:</label>
        <input type="text" name="Esc_o_trab" maxlength="100" required>
        <br>
        <label for="Tel_esc">Teléfono escuela o Trabajo:</label>
        <input type="text" name="Tel_esc" maxlength="12" required>
        <br>
        <label for="Dir_esc">Dirección escuela o Trabajo:</label>
        <input type="text" name="Dir_esc" maxlength="100" required>
        <br>
        <button class="guardar">Guardar</button>

    </form>
    <form action="lector/consulta" method="POST">
        {% csrf_token %}
        <button class="lector">Consultar</button>
    </form>
    <form action="regMenu" method="POST">
        {% csrf_token %}
    <button id="re">Regresar</button>
</form>
</body>
</html>