<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prestamos</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/estiloPrest.css' %}">
</head>
<body>
    {{msg}}
    <form action="guardarprestamos" method="POST">
        {% csrf_token %}
    <label for="idPrestamos">idPrestamos:</label>
    <input type="text" name="idPrestamos" maxlength="11" required pattern="[0-9]*$">
    <br>
    
    <label for="Isbn_id">Libros:</label>
    <Select name="Isbn">
        {% for xx in lista1 %} 
        <option value="{{xx.isbn}}">{{xx.isbn}}</option>
        {%endfor%}
    </Select>
    <br>
    

    <label for="Idl">Lector:</label>
    <SELECT name="Idl"> 
        {% for x in lista %}
        <OPTION VALUE="{{x.Idl}}">{{x.Nombre}}</OPTION>
        {%endfor%}
    </SELECT>
     <br>


    <label for="fecha">Fecha</label>
    <input type="Date" name="fecha" required>
    <br>
    <label for="Fvencida">Fecha Vencida</label>
    <input type="Date" name="Fvencida" required>
    <br> <br>
         <button class="guardarP">Guardar</button>
</form>


<form action="prestamos/consulta" method="POST">
    {% csrf_token %}
    <button class="consultaP">Consultar</button>
</form>
</body>
</html>