html, body{
    background-color: aquamarine;
    text-align-last: center;
}

button.editar{
    border: none;
    background: #2b4bff;
    color: #f2f2f2;
    padding: 12px;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    transition: all 1200ms ease;
}

button.editar:hover{
    background: rgba(25, 201, 255, 0.199);
    color: #000000;
    box-shadow: inset 0 0 0 2px #1ba7ec;
}

button#re{
    border: none;
        background: #0004ff93;
        color: #f2f2f2;
        padding: 12px;
        font-size: 20px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        transition: all 1200ms ease;
}

button#re:hover{
    background: rgba(110, 110, 110, 0.377);
    color: #000ba1;
    box-shadow: inset 0 0 0 2px #043effb4;
}

button.eliminar{
    border: none;
    background: #bb3232;
    color: #f2f2f2;
    padding: 12px;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    transition: all 1200ms ease;
}

button.eliminar:hover{
    background: rgba(255, 0, 0, 0.274);
    color: #000000;
    box-shadow: inset 0 0 0 2px #ff000086;
}

table {
    font-size: 19PX;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
     text-align: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
 }
 th.last, td.last {
    border-right: 0;
 }