
html, body{
    background-color: aquamarine;
    font-size: 160%;
    text-align: center;
}

label{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.61);
    font-size: 85%;
}

input.boton{
    border: none;
    background: #bb3232;
    color: #f2f2f2;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    transition: all 1200ms ease;
}

input.boton:hover{
    background: rgba(255, 0, 0, 0.274);
    color: #000000;
    box-shadow: inset 0 0 0 2px #ff000086;
}

input{
  border: 2px solid rgba(255, 4, 4, 0.349);
  font-size: 16px;
  font-family: Arial, Verdana;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-radius: 18px;
}


input:hover{
    border: 3px solid rgba(255, 6, 6, 0.247);
    background-color: rgba(255, 21, 21, 0.200);
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 11px;
}

button.consulta{
    border: none;
    background: #bb3232;
    color: #f2f2f2;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    transition: all 1200ms ease;
}


button.consulta:hover{
    background: rgba(255, 0, 0, 0.274);
    color: #680909;
    box-shadow: inset 0 0 0 2px #ff000086;
}

button.guarda{
        border: none;
        background: #3a7999;
        color: #f2f2f2;
        padding: 12px;
        font-size: 20px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        transition: all 1200ms ease;
}

button.guarda:hover{
    background: rgba(187, 187, 187, 0.678);
    color: #000000;
    box-shadow: inset 0 0 0 2px #1ba7ec;
}

button#re{
    border: none;
        background: #0004ff93;
        color: #f2f2f2;
        padding: 12px;
        font-size: 20px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        transition: all 1200ms ease;
}

button#re:hover{
    background: rgba(110, 110, 110, 0.377);
    color: #000ba1;
    box-shadow: inset 0 0 0 2px #043effb4;
}
